<div class="card-pet">
    <div class="header">
        <img [src]="data.photo" class="photo">
        <div class="content-header">
            <h2 class="name">{{data.name}}</h2>
            <h4 class="breed">{{data.breed}}</h4>
        </div>
    </div>
    <div class="pet-info">
        <!-- <h4>Tipo <span>{{data.type}}</span></h4> -->
        <h4>Gênero <span>{{data.sex}}</span></h4>
        <h4>Data Nascimento <span>{{data.birthDate | date: 'dd/MM/yyyy'}}</span></h4>
        <h4>Peso <span>{{data.weight}} kg</span></h4>
        <h4>Castrado <span>{{data.castrated}}</span></h4>

        <div class="medical-info">
            <h4>Inforações Médicas</h4>
            <div class="medical-info-text">
                <p>{{ data.medicalInfo }}</p>
            </div>
        </div>

    </div>

    <!-- <div class="qrcode">
        <img [src]="data.qrCode" alt="">
    </div> -->

    <div class="actions">
        <button mat-button class="update btn" (click)="updatePet(data)">Alterar Cadastro</button>
        <button mat-button matIconPrefix class="delete btn"><mat-icon>delete_outline</mat-icon> Excluir
            Cadastro</button>
    </div>
</div>