<div #body class="body">
  <div class="mobile-screen">
    <div class="menu">
      <div class="menu__wrapper">
        <header class="menu__header">
          <div class="user">
            <a class="user-profile" href="#">
              <img [src]="user.photo" class="avatar" />
              <div class="user-info">
                <span class="user-name">{{ user.name }}</span>
                <span class="user-handle">&#64;{{ user.tag }}</span>
              </div>
            </a>
          </div>
          <button #closeBtn class="btn close-btn btn--dark">
            <i class="bx bx-x"></i>
          </button>
        </header>
        <div class="options">
          <a
            class="options--item"
            *ngFor="let item of menu"
            routerLinkActive="active"
            [routerLink]="item.url"
            >{{ item.title }}</a
          >
          <a class="options--item" routerLinkActive="active" (click)="logout()"
            >Sair</a
          >
        </div>
        <div class="socials">
          <ul class="socials__wrapper">
            <li>
              <a class="btn btn--dark" href=""
                ><i class="bx bxl-facebook"></i
              ></a>
            </li>
            <li>
              <a class="btn btn--dark" href=""
                ><i class="bx bxl-instagram"></i
              ></a>
            </li>
            <li>
              <a class="btn btn--dark" href=""
                ><i class="bx bxl-twitter"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div #main class="main">
      <header class="main__header">
        <span></span>
        <button class="btn menu-btn">
          <i #menuBtn class="bx bx-menu-alt-left"></i>
        </button>
        <h1>Tag My Pet</h1>
        <button class="btn notification-btn"><i class="bx bx-bell"></i></button>
      </header>
      <section>
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
</div>
