* {
    line-height: 1.5;
    background: #fafbff;
}

.options--item.active {
    background-color: #88B04B;
    /* Cor de fundo quando ativo */
    color: white;
    /* Cor do texto quando ativo */
}

.mobile-screen {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: 100vh;
}

.menu {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.menu__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 1rem 0.5rem;
}

.menu__header {
    width: 100%;
}

.main {
    position: relative;
}

.main :is(section) {
    box-sizing: border-box;
    overflow-y: auto;
    height: calc(100vh - 66px);
    padding: 20px 250px;
}

.main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cacaca;
    padding: 10px;

    :is(h1) {
        margin: 0;
        font-weight: bold;
    }

    .notification-btn {
        width: 45px;
        height: 45px;
        border: none;
        cursor: pointer;
        border-radius: 14px;
        font-size: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notification-btn:hover {
        color: var(--primary-color);
    }
}



.options {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.options--item {
    margin-top: 0.5rem;
    font-size: 1.125rem;
    font-weight: 500;
    border-radius: 0.125rem;
    text-decoration: none;
    color: #4a5568;
    padding: 5px 16px;
}

.options--item:hover {
    background-color: #E0E0E0;
    color: #4a5568;
}

.user-profile {
    display: flex;
    padding: 0.75rem 1rem;
    font-weight: 500;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: #707070;
}

.user-profile:hover {
    background-color: #E5E5E5;
}

.avatar {
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
    background-color: #cbd5e0;
    border-radius: 50%;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

.user-name {
    font-size: 1.2rem;
    font-weight: 600;
}

.username {
    margin-right: 10px;
    color: #4a5568;
}

.user-handle {
    font-size: 0.8rem;
}

.close-btn,
.menu-btn {
    display: none;
}

.menu-btn {
    margin-right: 10px;
}

.main {
    margin: 0;
    margin-left: 260px;
    background: #f6f8fa;
    flex: 1;
    background-color: #fff;
}

.card-header {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 5px;

    :is(h2),
    :is(h4) {
        margin: 0px;
    }
}

.socials {
    display: none;
}

.trending {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 25%;
    padding: 1rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.search-box {
    display: flex;
    align-items: center;
    height: 2rem;
    padding: 0 0.5rem;
    border: 1px solid #7A7A7A;
    border-radius: 0.125rem;
}

.trending-title {
    margin-top: 1.5rem;
    font-weight: 600;
}

.trending-item {
    display: flex;
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid #E0E0E0;
}

.trending-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 0.5rem;
}

.username-:is(section) {
    display: flex;
    font-size: 0.875rem;
}

.trending-text {
    margin-top: 0.5rem;
    font-size: 0.875rem;
}

@media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scrollbar-width: none;
        outline: none;
    }

    :is(h1) {
        font-size: 24px;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: var(--primary-lighter);

    }

    :is(a) {
        text-decoration: none;
        color: inherit;
    }

    /* Helpers */
    .bold-wt {
        font-weight: 500;
    }

    .light-wt {
        font-weight: 400;
    }

    .responsive-img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .mobile-screen {
        position: relative;
        background-color: wheat;
        width: 100vh;
        height: 100vh;

    }

    .mobile-screen {
        overflow: hidden;
    }

    .overflow-hidden {
        overflow: hidden;
    }

    .menu {
        position: relative;
        background-color: var(--primary-color);
        width: 100%;
        height: 100%;
        border: none;
    }

    .menu__wrapper {
        padding: 48px 24px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .menu__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .btn {
        width: 45px;
        height: 45px;
        border: none;
        cursor: pointer;
        border-radius: 14px;
        font-size: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn--small {
        font-size: 18px;
    }

    .btn--dark {
        color: white;
        background-color: var(--primary-lighter);
    }

    .btn:hover {
        background-color: white;
        color: var(--primary-color);
    }

    /* User */
    .user {
        display: flex;
        align-items: center;
        gap: 12px;
        color: white;
        z-index: 1;
    }

    .user__img {
        width: 45px;
        height: 45px;
        overflow: hidden;
        border-radius: 14px;
        z-index: 10;

    }

    .user__name {
        font-weight: 300;
    }

    /* Options */
    .options {
        color: white;
        display: flex;
        padding: 5px;
        flex-direction: column;
        gap: 18px;
    }

    .options--item {
        font-size: 20px;
        font-weight: 400;
        color: white;
    }

    /* Socials */

    .socials {
        display: block;
    }

    .socials__wrapper {
        display: flex;
        align-items: center;
        gap: 18px;
        list-style: none;
    }

    /* Main  */
    .main {
        margin-left: 0;
        position: absolute;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background-color: white;
        transition: border-radius cubic-bezier(0.77, 0, 0.175, 1) 0.6s, scale cubic-bezier(0.77, 0, 0.175, 1) 0.6s, transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
        transition-delay: 0s, 0s, 0s;
        overflow-y: scroll;
        box-shadow: 0px 7px 17px 10px #121217;
    }

    .menu-open__main {

        z-index: 2;
        border-radius: 36px;
        transform: scale(.65) translateX(200px);
        overflow: hidden;
        pointer-events: none
    }

    .menu-btn {
        font-size: 30px;
    }

    .notification-btn {
        font-size: 30px;
    }

    .main__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: .5px solid #cacaca7a;
        padding: 10px 10px;

        :is(h1) {
            margin: 0;
            font-weight: bold;
        }
    }

    .post-image {
        height: 300px;
        max-width: 650px;
    }

    /* List View */
    .list-view__item {
        padding: 10px;
        display: flex;
        gap: 10px;
        border-radius: 8px;
    }

    .list-view__item--img {
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
    }

    .scroll-view {
        padding-top: 22px;
    }

    .trending {
        display: none;
    }
}

/* Dispositivos Móveis Pequenos (até 480px) */
@media (max-width: 480px) {

    .main__header :is(span) {
        display: none;
    }

    .post-image {
        height: 150px;
        max-width: 400px;
    }

    .main :is(section) {
        padding: 0px;
        height: calc(100vh - 66px);
    }

    .options {
        gap: 10px;

        :is(a) {
            font-size: 17px;
        }
    }
}

/* Dispositivos Móveis Médios (481px a 767px) */
@media (min-width: 481px) and (max-width: 767px) {
    /* Estilos aqui */
}

/* Tablets (768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {

    /* Estilos aqui */
    .main__header :is(span) {
        display: none;
    }
}

/* Laptops e Desktops Pequenos (1025px a 1280px) */
@media (min-width: 1025px) and (max-width: 1280px) {
    /* Estilos aqui */
}

/* Desktops Médios (1281px a 1440px) */
@media (min-width: 1281px) and (max-width: 1440px) {
    /* Estilos aqui */
}

/* Desktops Grandes e Monitores (acima de 1441px) */
@media (min-width: 1441px) {
    /* Estilos aqui */
}