body {
    background-color: #f0f2f5;
    font-family: 'Roboto', sans-serif;
}

.pets-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.pets-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 15px;
}

.pet-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    cursor: pointer;
    border: 2px solid green;
    padding: 2px;
}

.pet-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
}

.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.pet-image {
    width: 100%;
    height: 170px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.image-container:hover .pet-image {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
    opacity: 1;
}

.pet-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
}

.pet-details h3 {
    color: #333;
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-size: 19px;
}

.pet-details h4 {
    display: flex;
    justify-content: space-between;
    color: #555;
    margin: 0;
    font-weight: 500;
}

.pet-details h4 span {
    font-weight: 400;
    color: #555;
}

/* Estilos modernos para dispositivos móveis */
@media (max-width: 768px) {
    .pets-grid {
        grid-template-columns: 1fr;
        /* Apenas uma coluna em telas menores */
    }

    .pet-details {
        padding: 15px;
    }

    .pet-details h4 {
        font-size: 1em;
    }

    .pet-details h3 {
        font-size: 1.3em;
    }
}


button {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}