<div class="pets-container">
    <div class="pets-grid">
        <div *ngFor="let pet of pets" class="pet-card" (click)="viewInfoPet(pet)">
            <div class="image-container">
                <img [src]="pet.photo" alt="{{ pet.name }}" class="pet-image" />
                <div class="overlay">
                    <h3 class="pet-name">{{ pet.name }}</h3>
                    <p class="pet-type">Pelo {{pet.furColor}}</p>
                </div>
            </div>
            <div class="pet-details">
                <h3>{{ pet.name }}</h3>
                <h4>Raça: <span>{{pet.breed}}</span></h4>
                <h4>Gênero: <span>{{pet.sex}}</span></h4>
            </div>
        </div>
    </div>
</div>

<button mat-button class="add-btn" (click)="addNewPet()">
    <i class="fa-solid fa-plus"></i>
    <span>Adicionar Novo Pet</span>
</button>