<div class="feed-content"  #feedContent>
    <div class="post-composer">
        <h4 class="title-header">Criar uma publicação</h4>
        <div class="post-flex">
            <img [src]="user.photo" class="avatar ">
            <div class="composer-content">
                <mat-form-field appearance="outline">
                    <mat-label>Como está seu pet hoje?</mat-label>
                    <textarea matInput [(ngModel)]="textPost" rows="2"></textarea>
                </mat-form-field>

                <div *ngIf="selectedImage" class="image-preview">
                    <img [src]="selectedImage" alt="Imagem selecionada" class="preview-img">
                </div>

                <div class="composer-actions">
                    <input type="file" (change)="onImageSelected($event)" accept="image/*" hidden #fileInput>
                    <button mat-button class="post-btn" (click)="fileInput.click()">
                        <i class='bx bxs-camera'></i></button>
                    <button mat-button class="post-btn" (click)="registerPost()">Publicar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="timeline">
        <div class="post" *ngFor="let post of posts; let i = index">
            <div class="user">
                <div class="user-left">
                    <img [src]="post.author.photo" class="avatar">
                    <div class="user-info">
                        <span class="user-name">{{post.author.name}}</span>
                        <span class="user-handle">&#64;{{post.author.tag}}</span>
                    </div>
                </div>
                <span class="post-time">Postado às {{post.createdAt | date: "HH:mm"}}</span>
            </div>
            <div class="post-content">
                <p class="post-text" [class.expanded]="isExpanded">
                    {{ isExpanded ? post.content : (post.content | slice:0:200) }}
                    <span *ngIf="!isExpanded && post.content.length > 200">...</span>
                    <span *ngIf="post.content.length > 100">
                        <i style="cursor: pointer; color: rgb(32, 32, 226);" (click)="toggleExpand()">
                            {{ isExpanded ? 'ver menos' : 'ver mais' }}
                        </i>
                    </span>
                </p>
                <img *ngIf="post.image" class="post-image" [src]="post.image" alt="">
                <a href="#" class="post-tags" *ngIf="post.hashtag.length > 0">#{{post.hashtag}}</a>
                <div class="post-actions">
                    <div class="like-btn" mat-button (click)="toggleLike(post._id, i)">
                        <!-- Curtir -->
                        <i
                            [ngClass]="post.likes.includes(user._id) ? 'bx bxs-heart-circle liked bx-tada' : 'bx bx-heart-circle bx-tada'">
                        </i>
                        {{post.likes.length}}
                    </div>

                    <div class="share-btn" mat-button (click)="toggleLike(post._id, i)">
                        <!-- Compartilhar -->
                        <i class="bx bx-share bx-flip-horizontal"></i>
                        {{post.likes.length}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="loading-overlay" *ngIf="(loadingService.spinnerLoading$ | async)">
        <div class="card-loading">
            <i class="fa-solid fa-paw fa-beat-fade"></i>
        </div>
        <div class="card-loading">
            <i class="fa-solid fa-paw fa-beat-fade"></i>
        </div>
        <div class="card-loading">
            <i class="fa-solid fa-paw fa-beat-fade"></i>
        </div>
    </div>

</div>