.feed-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    gap: 15px;
    padding: 20px;
}

.post {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .5rem;
    background: white;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.title-header {
    width: 100%;
    text-align: center;
}

.post-flex {
    display: flex;
    flex-direction: row;
}

.image-preview {
    margin-top: 10px;
    /* Espaçamento acima da imagem */
}

.preview-img {
    max-width: 100%;
    /* Limita a largura da imagem ao contêiner */
    max-height: 300px;
    /* Limita a altura da imagem */
    border-radius: 4px;
    /* Bordas arredondadas */
}

.avatar {
    flex-shrink: 0;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #cbd5e0;
    border-radius: 50%;
}

.username {
    margin-right: 10px;
    color: #4a5568;
}

.user-handle {
    font-size: 0.7rem;
}


.liked {
    color: red;
}


.post-composer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    background: white;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.post-time {
    font-size: .75rem;
    color: #4a5568;
}

.post-text {
    margin-top: 0.5rem;
    color: #4a5568;
    font-size: 12px;
}

.post-tags {
    font-size: 10px;
    color: #4a5568;
}

.post-image {
    height: auto;
    width: 100%;
}

.post-actions {
    display: flex;
    margin-top: 0.5rem;
    gap: 15px;
    border-top: .4px solid #b6b6b636;
    padding-top: 5px;
}

.like-btn,
.share-btn {
    color: #707070 !important;
    font-size: 0.8rem;
}

.like-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 3px;
    padding: 0 10px;
}

.like-btn:hover {
    cursor: pointer;
    background: #cecece69;
}

.like-btn :is(i) {
    margin-top: 3px;
    font-size: 1.2rem;
}

.user {
    display: flex;
    flex-direction: row;
    padding: 0.75rem 1rem;
    font-weight: 500;
    align-items: flex-start;
    text-decoration: none;
    color: #707070;
    justify-content: space-between;

}

.user-left {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.composer-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 1rem;
}

.composer-text {
    padding: 0.75rem;
    background-color: transparent;
    border: 1px solid #a0aec0;
    border-radius: 0.125rem;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}

.composer-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
    gap: 5px;
}

.attach-btn,
.post-btn {
    display: flex;
    align-items: center;
    height: 2rem;
    padding: 0 0.75rem;
    font-size: 0.75rem;
    border-radius: 0.125rem;
    color: #707070 !important;
}


.attach-btn:hover {
    background-color: #c0e4ff;
}

.post-btn .bx {
    font-size: 1.4rem;
    margin-top: 5px;
}

.post-btn {
    background-color: #eff4f8;
}

.post-btn:hover {
    background-color: #c0e4ff;
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post {
    width: 100%;
}

.post-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 16px;
}

.post-header {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .feed-content {
        padding: 20px 20px;
    }
}

/* Dispositivos Móveis Pequenos (até 480px) */
@media (max-width: 480px) {
    .post-image {
        height: auto;
        width: 100%;
    }
}

/* Dispositivos Móveis Médios (481px a 767px) */
@media (min-width: 481px) and (max-width: 767px) {
    /* Estilos aqui */
}

/* Tablets (768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Estilos aqui */
}

/* Laptops e Desktops Pequenos (1025px a 1280px) */
@media (min-width: 1025px) and (max-width: 1280px) {
    /* Estilos aqui */
}

/* Desktops Médios (1281px a 1440px) */
@media (min-width: 1281px) and (max-width: 1440px) {
    /* Estilos aqui */
}

/* Desktops Grandes e Monitores (acima de 1441px) */
@media (min-width: 1441px) {
    /* Estilos aqui */
}