<div class="pet-info-container" *ngIf="pet">

    <!-- Header Section -->
    <header class="header">
        <div class="profile-photo">
            <img [src]="pet.photo" alt="Pet Photo" />
        </div>
        <h1 class="pet-name">{{ pet.name }}</h1>
        <p class="pet-tagline">Lost and Loved</p>
        <button class="contact-owner-btn" (click)="contactOwner()">Contact Owner</button>
    </header>

    <!-- Main Content Section -->
    <div class="main-content">
        <section class="pet-details">
            <h2>Detalhes</h2>
            <ul>
                <li><span>🐾</span> Raça: {{ pet.breed }}</li>
                <li><span>🎂</span> Idade: {{ calculateAge(pet.birthDate) }}</li>
                <li><span>🚻</span> Gênero: {{ pet.sex }}</li>
                <li><span>⚖️</span> Peso: {{ pet.weight }}kg</li>
                <li><span>🎨</span> Pelo: {{ pet.furColor }}</li>
                <li class="medical-info" *ngIf="pet.medicalInfo">
                    <h4><span>🏥</span>Inforações Médicas</h4>
                    <div class="medical-info-text">
                        <p>{{ pet.medicalInfo }}</p>
                    </div>
                </li>
            </ul>
        </section>

        <!-- <section class="owner-details">
            <h2>Owner Information</h2>
            <ul>
                <li><span>🧑</span> Name: {{ owner.name }}</li>
                <li><span>📞</span> Phone: <a [href]="'tel:' + owner.phone">{{ owner.phone }}</a></li>
                <li><span>📧</span> Email: <a [href]="'mailto:' + owner.email">{{ owner.email }}</a></li>
                <li><span>🏡</span> Address: {{ owner.address }}</li>
            </ul>
        </section> -->
    </div>

    <!-- Footer Section -->
    <footer class="footer">
        <p class="safety-notice">Found this pet? Please ensure it is safe while you contact the owner. Thank you!
        </p>
        <button class="report-found-btn">Report as Found</button>
    </footer>
</div>

<div class="content" *ngIf="!pet">
    <header class="top-header"></header>

    <!--dust particel-->
    <div>
        <div class="starsec"></div>
        <div class="starthird"></div>
        <div class="starfourth"></div>
        <div class="starfifth"></div>
    </div>

    <div class="lamp__wrap">
        <div class="lamp">
            <div class="cable"></div>
            <div class="cover"></div>
            <div class="in-cover">
                <div class="bulb"></div>
            </div>
            <div class="light"></div>
        </div>
    </div>

    <section class="stage" *ngIf="!pet">
        <div class="svg-content">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="200.000000pt" height="200.000000pt"
                viewBox="0 0 245.000000 244.000000" preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,224.000000) scale(0.100000,-0.100000)" fill="#181828" stroke="none">
                    <path d="M2003 2044 c-146 -32 -306 -100 -447 -191 l-70 -45 67 -35 c184 -97
                        275 -273 238 -455 -10 -48 -19 -64 -54 -94 -88 -75 -209 -114 -357 -114 -263
                        0 -464 139 -478 329 -5 85 -11 91 -33 41 -29 -65 -64 -106 -130 -155 -82 -60
                        -154 -86 -244 -86 -88 -1 -136 20 -189 82 -20 24 -38 40 -41 37 -3 -2 -10 -41
                        -17 -86 -32 -232 79 -411 332 -534 109 -52 110 -53 105 -83 -14 -75 -17 -323
                        -5 -361 20 -61 47 -93 84 -100 64 -12 97 24 126 136 10 39 25 81 33 94 15 22
                        16 22 106 10 105 -14 175 -28 214 -43 l28 -11 -6 -117 c-7 -144 0 -174 44
                        -187 66 -19 144 43 206 164 13 25 37 62 53 83 45 57 75 156 76 252 1 44 -2 92
                        -6 107 -7 24 -4 28 36 48 89 43 159 146 191 284 8 33 20 135 26 226 l12 165
                        49 53 c84 94 168 255 219 423 23 77 21 129 -7 160 -20 23 -69 24 -161 3z" />
                    <path d="M609 2013 c-31 -19 -94 -111 -140 -203 -30 -61 -79 -183 -79 -197 0
                        -3 30 23 68 58 37 36 89 80 115 98 61 42 178 96 241 112 l47 12 -38 40 c-84
                        87 -158 115 -214 80z" />
                    <path d="M995 1910 c-56 -14 -95 -31 -95 -41 0 -5 5 -9 11 -9 14 0 39 -63 39
                        -102 0 -62 15 -67 55 -21 39 46 108 83 203 109 34 10 62 21 62 25 0 14 -96 40
                        -165 44 -38 2 -88 0 -110 -5z" />
                </g>
                <path class="eyes" fill="#f0f0f0"
                    d="M110.798 67.246c0 6.211 4.353 10.965 9.726 10.965 5.371 0 9.723-4.754 9.723-10.965 0-15.276-19.449-15.276-19.449 0zM55.799 60.246c0 6.211 4.353 10.965 9.726 10.965 5.371 0 9.723-4.754 9.723-10.965 0-15.276-19.449-15.276-19.449 0z" />

                <!-- <path d="M 145 140 c 10 -20 20 -30 10 -60 c -15 -20 -10 -40 0 -60 c 10 -20 15 -40 0 -60" fill="none"
                    stroke="#1c0526" stroke-width="13" stroke-linecap="round">

                    <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 100 0"
                        to="15 100 0" dur="2s" repeatCount="indefinite" values="0 100 0; 15 100 0; -15 100 0; 0 100 0"
                        keySplines="0.42 0 0.58 1; 0.42 0 0.58 1; 0.42 0 0.58 1" calcMode="spline" />
                </path> -->
            </svg>
        </div>
        <h1>Hmm... Parece que esse pet ainda não está cadastrado em nossa base. Tente novamente mais tarde!</h1>
        <h1>Quer voltar ao <a routerLink="/">início</a>?</h1>
    </section>
</div>