:root {
  --primary-color: #1f1f29;
  --primary-lighter: #2b2b3d;
  --green: #2fb145;
  --gray: #323232;
  --transGray: #dbdbdb;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:is(html) {
  box-sizing: border-box;
}

:is(html),
:is(body) {
  height: 100%;
}

:is(body) {
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

:is(html),
:is(body) {
  height: 100%;
}

:is(body) {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}