<div class="content">
    <div class="header">
        <h2>Cadastrar novo pet</h2>
        <div class="close-button" (click)="closeDialog()">X</div>
    </div>

    <form [formGroup]="formPet" (ngSubmit)="onSubmit()">
        <div [ngSwitch]="currentStep">

            <ng-container *ngSwitchCase="1">
                <h4>Conta pra gente, qual seu pet?</h4>
                <mat-form-field appearance="outline">
                    <mat-label>Tipo de pet</mat-label>
                    <mat-select (selectionChange)="loadBreeds($event.value)" formControlName="type">
                        <mat-option *ngFor="let option of filteredTypes" [value]="option">
                            {{ option }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Raça</mat-label>
                    <mat-select formControlName="breed">
                        <mat-option *ngFor="let option of filteredBreeds" [value]="option">
                            {{ option }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>

            <ng-container *ngSwitchCase="2">
                <h4>Lembra a data de nascimento?</h4>
                <mat-form-field appearance="outline">
                    <mat-label>Data de Nascimento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="birthDate" placeholder="Escolha uma data">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Pelo/Cor</mat-label>
                    <input matInput formControlName="furColor" placeholder="Ex: Curto/Cinza e Preto">
                </mat-form-field>
            </ng-container>

            <ng-container *ngSwitchCase="3">
                <h4>Certo! É macho ou fêmea?</h4>
                <mat-form-field appearance="outline">
                    <mat-label>Sexo</mat-label>
                    <mat-select formControlName="sex">
                        <mat-option *ngFor="let option of ['Macho', 'Fêmea']" [value]="option">
                            {{ option }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>É castrado?</mat-label>
                    <mat-select formControlName="castrated">
                        <mat-option *ngFor="let option of ['Sim', 'Não']" [value]="option">
                            {{ option }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>

            <ng-container *ngSwitchCase="4">
                <h4>Legal! E qual é o nome?</h4>
                <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Peso</mat-label>
                    <input matInput formControlName="weight" type="number" min="0">
                    <span matSuffix style="margin-right: 8px;">kg</span>
                </mat-form-field>
            </ng-container>

            <ng-container *ngSwitchCase="5">
                <h5>Conta pra gente, <span>{{formPet.value.sex == 'Macho' ? 'o' : 'a'}}</span> <span
                        style="font-weight: bold;">{{formPet.value.name}}</span> precisa de
                    algum cuidado especial?</h5>
                <mat-form-field appearance="outline">
                    <mat-label>Necessidades do pet</mat-label>
                    <textarea matInput rows="2" formControlName="medicalInfo"></textarea>
                </mat-form-field>
            </ng-container>

            <ng-container *ngSwitchCase="6" class="photo-upload">
                <h5>Maravilha! Agora é só escolher a melhor foto e finalizar em grande estilo <span>(opcional)</span>
                </h5>
                <div class="photo-upload-container">
                    <input type="file" (change)="onFileChange($event)" id="fileInput" formControlName="photo" />
                    <label for="fileInput" class="photo-upload-label">
                        <mat-icon>camera_alt</mat-icon>
                        <img id="preview" class="photo-preview" [src]="formPet.value.photo" alt="Preview" />
                    </label>
                </div>
            </ng-container>

        </div>

        <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>

        <div class="button-group">
            <button mat-button type="button" (click)="previousStep()" [disabled]="currentStep === 1">Anterior</button>
            <button mat-button type="button" (click)="nextStep()" [disabled]="!isStepValid(currentStep)"
                *ngIf="currentStep !== 6">Próximo</button>
            <button mat-raised-button color="primary" type="submit" *ngIf="currentStep === 6">Enviar</button>
        </div>
    </form>
</div>